*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common -----------------------*/
body {
    min-width: 500px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

#wrapper{
    width: 100%;
    height: 100%;
    background-color: black;
}

.userImg {
    width: 70px;
    height: 100%;
    vertical-align: middle;
    padding: 5px;
    border-radius: 40px;
}

.friendImg {
    width: 70px;
    vertical-align: middle;
    padding: 5px;
    border-radius: 40px;
}

button {
    display: none;
}

/* title ------------*/
.titleProfile {
    width: 40%;
    height: 100%;
    padding: 20px 0;
}

.titleContacts {
    width: 80%;
    height: 100%;
    padding: 20px 10px;
    cursor: pointer;
}

.titleFriend {
    width: 40%;
    height: 100%;
    padding: 10px 15px;
}

.titleNotifications {
    width: 80%;
    height: 100%;
    padding: 0 10px;
}
/* Fine title -----*/

.notificationsDesktop {
    color: gray;
    width: 80%;
    height: 100%;
    text-decoration-color: 5px gray;
    padding: 0 10px;
    
}

.access {
    color: gray;
    width: 80%;
    height: 100%;
    padding: 0 15px;
}

.float-left {
    float: left;
}

.strumenti {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    padding: 20px 0;
    color: gray;
    font-size: 20px;
}

.message-input-right {
    width: 95%;
    height: 30px;
    border: 1px solid black
}

.black {
    color: black;
}

.pRight {
    float: right;
}

.chevronTool {
    cursor: pointer;
    display: none;
}

.nuvole:hover .chevronTool {
    display: inline;
}

/*  fine common -----------------*/

/* header -----------------------*/
header {
    width: 100%;
    height: 100%;
}

#header {
    width: 100%;
    height: 18vh ;
    background-color: #009688;
    display: flex;
    justify-content: center;
}
/* fine header ----------------*/

/* main -----------------------*/
main  {
    width: 100%;
    height: 100% ;
}

#main  {
    width: 100%;
    height: 80vh ;
    background-color: #D8DBD6;
    display: flex;
    justify-content: space-around;
}
/* fine main -----------------*/

/* containerHeaderLeft -----------------------*/

#containerHeaderLeft {
    height: 90vh;
    width: 30%;
    background-color: yellow;
    margin: 20px 0;
}

.userProfile {
    height: 10%;
    width: 100%;
    background-color: pink;
    /* display: flex;
    justify-content: center;
    align-content: center; */
}

.userProfileLeft{
    height: 100%;
    width: 80%;
    background-color: #E5DDD5;
}

.userProfileRight{
    height: 100%;
    width: 20%;
}

.toolsProfile {
    height: 100%;
    width: 100%;
    background-color: #E5DDD5;
}

.notifications {
    height: 10%;
    width: 100%;
    background-color: #9DE1FE;
    padding: 10px 10px;
}

.searchChat {
    height: 7%;
    width: 100%;
    background-color: #F6F6F6;
    display: flex;
    justify-content: space-around;
}

.search-label {
    display: inline-block;
    width: 15%;
    border: 1px solid #F5F5F5;
    border-right: 0;
    background: #fff;
    line-height: 36px;
    text-align: center;
    color: #868986;
}

.left-search-input {
    display: inline-block;
    width: 84%;
    border: 1px solid #F5F5F5;
    border-right: 0;
    background: #fff;
    line-height: 36px;
    text-align: center;
    color: #868986;
}

label input .value{
    text-align: center;
}

.chatContacts {
    height: 73%;
    width: 100%;
    background-color: #F5F5F5;
    overflow-y: scroll;
}

.bell {
    border-radius: 50px;
    background-color: white;
    color: #9DE1FE;
    font-size: 40px;
}
/* fine containerHeaderLeft -------------------*/

/* containerHeaderRight -----------------------*/

#containerHeaderRight {
    height: 90vh;
    width: 50%;
    margin: 20px 0;
}

/* chat Up ----------------*/
.chatUp {
    height: 10%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}

.userFriend {
    height: 100%;
    width: 80%;
    background-color: #E5DDD5;
}

.toolsChat {
    height: 100%;
    width: 20%;
    background-color: #E5DDD5;
}
/* fine chat Up -----------*/

/* chat center ----------------*/
.chatCenter {
    height: 80%;
    width: 100%;
    position: relative;
    /* background-color: purple; */
}

#sfondoChat {
    height: 100%;
    width: 100%;
    position: relative;
    overflow-y: scroll;
    
}

.chatCenter .imgMine{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    position: absolute;
    margin-bottom: 0;
    border-radius: 0;
}

.nuvole {
    width: 100%;
    /* height: 100%;
    position: absolute; */
    object-fit: contain;
    padding: 70px 20px;
}

.message_text {
    width: 100%;
    height: 100%;
    padding: 5px;
}

.message_time {
    padding: 5px;
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
}
/* elenco -------------------*/
.message_received {
    width: 40%;
    height: 10%;
    background-color: #FFFFFF;
    border-radius: 5px;    
    padding: 10px;
    float: left;
}

.message_sent {
    width: 40%;
    height: 10%;
    background-color: #DCF8C6;
    border-radius: 5px;    
    padding: 10px;
    float: right;
}/*modificato aggiungere PADDING*/

/.chatCenter, .nuvole, .message_sent, .message_receveid {
    /* float: left; */
    clear: both;
} 
/* fine chat center ----------*/

/* chat down ----------------*/
.chatDown {
    height: 10%;
    width: 100%;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
}

.writeMessage {
    height: 100%;
    width: 60%;
    background-color: #E5DDD5;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.writeMessage input {
    height: 100%;
    width: 100%;
}

.smile,
.microphone {
    height: 100%;
    width: 20%;
    background-color: #E5DDD5;
}
/* chat down ---------------*/
/* fine containerHeaderRight ------------------*/