<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link font -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!-- link icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- link day.js -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <title> BoolZapp </title>
</head>
<body>
    <div id="root">
        <!-- wrapper -->
        <div id="wrapper">
            <!-- header -->
            <header>
                <div id="header">
                    <div id="containerHeaderLeft">
                        <!-- user profile -->
                        <div class="userProfile">
                            <div class="userProfileLeft float-left">
                                <div>
                                    <img src="img/avatar_io.jpg" class="userImg float-left" alt="image io">
                                    <h3 class="titleProfile float-left black"> Paolo Dossetto </h3>
                                </div>
                            </div>
                            <div class="userProfileRight float-left">
                                <div class="toolsProfile">
                                    <div class="strumenti"> <i class="fas fa-circle-notch"></i><i class="fas fa-comment-alt"></i><i class="fas fa-ellipsis-v"></i></div>
                                </div>
                            </div>
                        </div>
                        <!-- fine user profile -->
                        <!-- notifications -->
                        <div class="notifications">
                            <div>
                                <i class="fas fa-bell-slash bell float-left"></i>
                                <h3 class="titleNotifications float-left black"> Ricevi notifiche di nuovi messaggi </h3>
                                <h4 class="notificationsDesktop float-left"> Ultimo accesso oggi alle </h4>
                            </div>
                        </div>
                        <!-- fine notifications -->
                        <!-- search chat -->
                        <div class="searchChat">
                            <!-- <label for="search" class="search-label"> <i class="fas fa-search"></i></label>
                            <input class="left-search-input" type="text" v-model="cercaContatti" placeholder=" Cerca o inizia una nuova chat"> -->
                            <label for="search" class="search-label"> <i class="fas fa-search"></i></label>
                            <input class="left-search-input" type="text" v-model="cercaContatti" placeholder=" Cerca o inizia una nuova chat" list="browsers" name="browser" id="browser" >
                            <datalist id="browsers">
                                <option  value="Michele"></option>
                                <option  value="Fabio"></option>
                                <option  value="Samule"></option>
                                <option  value="Luisa"></option>
                                <!--<option v-for="(contact, index) in contacts" @click="selectedContact(index)" :value="contacts[selected_user].name"> da MODIFICARE-->
                            </datalist>
                        </div>
                        <!-- fine search chat -->
                        <!-- chat contacts -->
                        <div class="chatContacts">
                            <ul v-if="photos.length > 0">
                                <div v-for="(contact, index) in contacts" class="titleContacts black" @click="selectedContact(index)">
                                    <img :src="'img/avatar' + contact.avatar + '.jpg'" class="friendImg" :alt="contact.name"> 
                                    {{ contact.name }}
                                </div>
                            </ul>
                        </div>
                        <!-- fine chat contacts -->
                    </div>
                    <!-- CHAT AREA -->
                    <div id="containerHeaderRight">
                        <!-- chat UP -->
                        <div class="chatUp">
                            <!-- user friend -->
                            <div class="userFriend">
                                <div v-if="selected_user != null"> <!--selected_contact -->
                                    <h3><img :src="'img/avatar' + contacts[selected_user].avatar + '.jpg'" class="userImg float-left" alt="image 1">
                                    <span class="titleFriend float-left"> {{ contacts[selected_user].name }}</span></h3>
                                    <h4 class="access float-left"> Ultimo accesso oggi alle </h4>
                                </div>
                            </div>
                            <!-- fine user friend -->
                            <!-- tools -->
                            <div class="toolsChat">
                                <div class="strumenti"> <i class="fas fa-search"></i><i class="fas fa-paperclip"></i><i class="fas fa-ellipsis-v"></i></div>
                            </div>
                            <!-- fine tools -->
                        </div>
                        <!-- fine chat UP -->
                        <!-- chat CENTER -->
                        <div class="chatCenter">
                            <img class="imgMine" src="img/mine.jpg" alt="">
                            <!-- chat -->
                            <section id="sfondoChat">
                                <div class="nuvole" v-for="(single_message, index) in contacts[selected_user].messages">
                                    <div :class="'message_' + single_message.status">
                                        <span class="message_text"> {{ single_message.message }} </span>
                                        <i class="fas fa-chevron-down chevronTool pRight"></i>
                                        <div class="dropdown">
                                            <!-- AGGIUNGERE MENU A TENDINA  -->
                                        </div>
                                        <span class="message_time"> {{ single_message.date }} </span>
                                    </div>
                                </div> 
                            </section>
                            <!-- fine chat -->
                        </div>
                        <!-- fine chat CENTER -->
                        <!-- chat DOWN -->
                        <div class="chatDown">
                            <!-- smile -->
                            <div class="smile">
                                <div class="strumenti"> <i class="far fa-smile"></i></div>
                            </div>
                            <!-- fine smile -->
                            <!-- write Message -->
                            <div class="writeMessage">
                                <input type="text" v-model="newChat" placeholder="Scrivi un messaggio" @keyUp.enter="addChat">
                                <button @click="addChat"> Aggiungi </button>
                            </div>
                            <!-- fine write Message -->
                            <!-- microphone -->
                            <div class="microphone">
                                <div class="strumenti"> <i class="fas fa-microphone"></i></div>
                            </div>
                            <!-- fine microphone -->
                        </div>
                        <!-- fine chat DOWN -->
                    </div>
                    <!-- FINE CHAT AREA -->
                </div>
            </header>
            <!-- fine header -->
            <!-- main -->
            <main>
                <div id="main"></div>
            </main>
            <!-- fine main -->
        </div>
        <!--  fine wrapper -->
    </div>


    <!-- vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- js -->
    <script src="js/main.js"></script>
</body>
</html>